{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
         <script src="{% static 'js/myScript.js' %}"></script>
         <link rel="stylesheet" href="{% static 'css/post.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">

        {% block style_files %}
        {% endblock%}
    </head>
    <body>

    <div class="page-header">
    {% if user.is_authenticated %}
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    <h1><a href="/list">Home</a></h1>
        {% if messages %}
            {%for message in messages%}
            <div class="alert alert-{{ message.tags }} ">
             {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
    </html>
