{% extends 'blog/content_post.html' %}
{% load static %}
{% load extras %}

{% block content %}
<form action="{% url 'post_new' %}" method="post">
    {% csrf_token %}
        <button type="submit" class="btn btn-submit">Send</button>
    </form>

    <div class="content container">
        <div class="row">
                {% for post in posts %}
                    {% if forloop.first %}
                        <h2>{{description}}</h2>
                    {% endif %}

                             {% include 'blog/post.html' %}


                    {% if forloop.last %}
                        <h3>Отличная работа, все прочитано</h3>
                        <span>Лучше бы настоящую работу себе нашел...</span>
                    {% endif %}


                    {% ifequal forloop.revcounter 2 %}
                        <span>Готовся, последнее сообщение </span>
                    {% endifequal %}

                {% empty %}
                    <h2>Кажись постов пока не завезли</h2>
                {% endfor %}

        </div>
    </div>



    <form id="add_comm_form" method="post" action="{% url 'add_comm' %}" style="">{% csrf_token %}
            <div class="add_comm">
                <input type="hidden" name="post-id" value="">
                <input type="hidden" name="comment-id" value="">
                <textarea name="text" required="" placeholder="Оставьте комментарий"></textarea>
                <button type="submit">Комментировать</button>
            </div>
        </form>

{% endblock content %}
