

/*Настройки кнопок*/
.edit,.edit_btn,button ,.add_comm_btn{
    background-color:#4CAF50;
    margin-top:3px;
    color: #fff;
    box-sizing:border-box;
    width:150px;
    text-align:center;
    font-size:16px;
   -webkit-box-shadow: -0 0 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -0 0 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: -0 0 5px 0px rgba(0, 0, 0, 0.3);
    
}
.post{

    position:relative;
}
.edit_btn{
    padding:2px;
    margin-top:0px;
    margin-bottom:10px;
}
.add_comm_btn:hover,.edit:hover,.show_comm:hover,.plus:hover{
    cursor:pointer;
}
/*Блоки контента*/

.mas_wrap{
    background-color:#FEFEFE;
    padding:10px;
    margin:15px 0;
    -webkit-box-shadow: -10px 10px 7px  -5px rgba(0, 0, 0, 2);
	-moz-box-shadow: -10px 10px 7px  -5px rgba(0, 0, 0, 0.2);
	box-shadow: -10px 10px 7px  -5px rgba(0, 0, 0, 0.2);

    
}

.mas_wrap >div{
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin-left:20px;
    margin-bottom:20px;

    padding-right:5px;
    

}/*
.content{
    position: relative;
    background-color: #FAFAFA;
    word-wrap:break-word; 
    white-space:pre-line;
    padding:5px;
    margin-bottom:10px;
    margin-top:0;
    text-align:justify;
    -webkit-box-shadow:-9px 0px 7px  -5px rgba(0, 0, 0, 2);
	-moz-box-shadow: -9px 0px 7px  -5px rgba(0, 0, 0, 0.2);
	box-shadow: -9px 0px 7px  -5px rgba(0, 0, 0, 0.2);
 
}*/

.content:before{
	position: absolute;
	width: 100%;
	height: 10px;
	content: ' ';
	left: 0px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-1deg) rotate(-1deg);
	-moz-transform: skew(-1deg) rotate(-1deg);
	-ms-transform: skew(-1deg) rotate(-1deg);
	-o-transform: skew(-1deg) rotate(-1deg);
	transform: skew(-1deg) rotate(-1deg);
	-webkit-box-shadow: -3px 9px 6px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -3px 9px 6px 0px rgba(0, 0, 0, 0.3);
	box-shadow: -3px 9px 6px 0px rgba(0, 0, 0, 0.3);
    z-index:-1;
}

.plus{
    position:relative;
    bottom:2px;
    left:0px;
    width:15px;
    height:15px;
    overflow:hidden;
    padding:0;
    margin:0;
}

.plus_img{
    position:absolute;
    top:0;
    left:0;
    width:30px;
    height:15px;
}

.add_comm{
    display:flex;
    margin:0;
    padding:0;
    align-items:center;
}
.add_comm > textarea{
    height: 5.0em;
    width:80%;
}


.add_comm_btn{
    float:right;
    margin-left:10px;
    z-index:5;

}



.comment{
    padding:10px 0px 10px 30px;
   position:relative;
    background-image:url('../img/back-ver.png');
    background-repeat:repeat-y;
}
.mas_wrap> .comment{
 background:none;   
}

.edit{
    margin-left:10px;
    float:right;

    
    
}
.header{
    color:#4CAF50;
    font-weight:bold;
    font-size:18px;
    font-style:italic;
}
.header > span{
    color:#0F83CE;
     font-size:14px;
}
 Кнопка "Показать комментарии"

.show_comm{
    width:100%;
    margin-top:15px;
    padding: 2px 5px ;

    box-sizing:border-box;
    font-size:16px;
    color:#fff;
    background-image:  linear-gradient( to left, rgba(15,131,206,1) ,rgba(76,175,80,1));
    -webkit-box-shadow: 0px 10px 7px  -5px rgba(0, 0, 0, 2);
	-moz-box-shadow: 0px 10px 7px  -5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 7px  -5px rgba(0, 0, 0, 0.2);
    display:flex;
    align-items:centr;

}
#add_comm_form{
    margin-top:20px;
}
.comment > #add_comm_form{
    margin-top:40px;
}

 Перенос глубоко вложенных деревьев
.perenos{

   background-color:#FEFEFE;
    margin-left:-270px;
   padding-bottom:30px;
}
.line_div{
    margin-left:0px;
    padding-top:10px;
    height:3px;
    width:240px;
    background-image:url('../img/back-hor.png');
    background-repeat:repeat-x;
}


 Блок регистрации или созадния сообщения

.mas_wrap:first-child{
    -webkit-box-shadow: -10px 10px 7px  -5px rgba(0, 0, 0, 2);
	-moz-box-shadow: -10px 10px 7px  -5px rgba(0, 0, 0, 0.2);
	box-shadow: -10px 10px 25px  15px rgba(0, 0, 0, 0.2);
}
#form_add_mass{
    width:900px;
    color:red;
    padding:0;
    display:flex;
    align-items:center;
}
#form_add_mass > textarea{
    height:80px;
    margin:0;
    width:77.5%;
    padding:0;
    margin-top:-3px;
    
    
}
#logout{
    float:right;
    margin:0;
    margin-top:-6px;
    margin-left:-4px;
}
#reg{
    width:600px;
    margin:10px auto 0;
    display:flex;
    padding:0;
    flex-wrap:wrap;
    justify-content:center;
}
#reg  a{
    width:68px;
    height:68px;
    border-radius: 100px;
    margin:10px;
    overflow:hidden;
    position:relative;


}
#reg div img{
    position:absolute;
    bottom:-1px;
    left:-1px;
    width:70px;
    height:140px;
}
#reg img:hover{
    bottom:-72px;
}
h3{
    color:#3D8C40;
}


#up{
    position:fixed;
    bottom: 30px;
    left:30px;
    width:100px;
    height:100px;
    opacity:0.5;
    transition: opacity 0.8s;
}
#up:hover{
      opacity:1;
      cursor:pointer;
}